#about-section {
    padding: 50px 0;
    background-color: #eee;
}

.about-section-heading h2 {
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 40px;
    margin-bottom: 30px;
}

.about-section-container {
    display: flex;
    justify-content: space-between;
}

.about-section-developer-image {
    width: 40%;
}

.about-section-developer-image img {
    width: 100%;
}

.about-secttion-developer-details {
    width: 50%;
}

.about-secttion-developer-details P {
    font-size: 18px;
    line-height: 30px;
    font-family: "Poppins", sans-serif;
}

.development-category {
    color: tomato;
    font-size: 22px;
}

.about-secttion-developer-details P:nth-child(2) {
    margin-top: 12px;
}

.contact-link {
    font-size: 18px;
    color: rgb(186, 60, 38);
    margin-top: 15px;
}

.social-website-link {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
